//***** VARIABLES *****
$imagewidth: 250px;
$font-size: 1em;

// Breakpoints
$breakpoints: (
  "small": 500px,
  "medium": 700px,
);


//***** MIXINS *****

// Makes buttons darker on hover.
@mixin btn-hover($color) {
  &:hover {
    background: darken($color, 10%);
  }
}

// Animates buttons being pushed when clicked.
@mixin btn-push() {
  box-shadow: 0 0 3px #fff,
              0 0 5px #333,
              3px 3px 8px #000;
  &:active {
    transform: translate(2px, 2px);
    box-shadow: 1px 1px 5px #000;
  }
}


/***** GENERAL LAYOUT *****/

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
  &:hover {
    color: #622;
  }
}

h1 {
  font-size: 10vw;
  margin: 1% 0;
}

/* Class for hiding elements off screen */
.hide {
  position: absolute;
  top: -9999px;
}


/***** NAV *****/

.legend {
  margin: 0 0 10px;
}

.status {
  display: inline-block;
  background: yellow;
  height: 30px;
  width: 20vw;
  border: solid 1px #000;
  border-radius: 3px;
  @include btn-hover(yellow);
  @include btn-push();
}

.red {
  background: red;
  @include btn-hover(red);
}

.green {
  background: green;
  @include btn-hover(green);
}

.map {
  margin: 0 20px 20px 10px;
}

.description {
  margin: 4px 0 0 0;
  text-shadow: 0 0 2px white;
}

.grey {
  background: #999;
}


/***** BOXES *****/

.list {
  margin: 0 auto;
  width: 90%;
}

.user {
  display: inline-block;
  list-style-type: none;
  margin: 0 0 15px 0;
  &:hover {
    padding: 5px;
    border: solid 1px blue;
  }
}

.logo {
  width: 100%;
  z-index: -10;
}

.tag {
  display: block;
  width: auto;
  border-radius: 0;
  box-shadow: none;

}

.stream-info {
  margin: 4px 5px 0;
}

.bio {
  display: block;
  height: 75px;
  overflow-y: auto;
}


/***** MEDIA QUERIES *****/

@media (min-width: map-get($breakpoints, "small")) {
  /* Making sure the title and the boxes don't grow to big on larger screens */
  h1 {
    font-size: 3.8em;
  }

  .user {
    width: 50%;
    padding: 10px;
  }
}

@media (min-width: map-get($breakpoints, "medium")) {
  /* Making boxes stop growing all togheter on large screens */
  .user {
    width: 33%;
    max-width: 300px;
  }
}
