/***** VARIABLES *****/

$imagewidth: 250px;
$font-size: 1em;

// Breakpoints
$breakpoints: (
  "small": 375px,
  "medium-small": 414px,
  "medium": 632px,
  "medium-large": 700px,
  "large": 800px,
  "extra-large": 1305px,
);


/***** MIXINS *****/

@mixin btn-hover($color) {
  &:hover {
    background: darken($color, 10%);
  }
}

/***** GENERAL LAYOUT *****/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body {
  font-size: $font-size;
}

h1 {
  font-size: 2em;
  margin-top: .3em;
}

.list {
  list-style-type: none;
}

a {
  z-index: 5;
}

a:hover {
  text-decoration: none;
}


/***** NAV *****/

.status {
  background: yellow;
  margin: 20px 10px;
  height: 25px;
  width: 25px;
  border: solid 1px #000;
  border-radius: 50%;
  box-shadow: 0 0 3px #fff,
              0 0 5px #333,
              3px 3px 8px #000;
  @include btn-hover(yellow);
}

.red {
  background: red;
  @include btn-hover(red);
}

.green {
  background: green;
  @include btn-hover(green);
}

.map {
 display: inline-block;
 margin-right: 50px;
}

.description {
  margin-left: 30px;
}


/***** BOXES *****/

.user {
  width: 90%;
  border: solid 1px #aaa;
  border-radius: 10px;
  overflow: hidden;
  margin: 5% auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .7);
}

.logo {
  width: 100%;
  z-index: -10;
  float: left;
}

/***** INFO *****/

.name {
  text-align: center;
  padding: .3em;
  text-decoration: none;
  color: black;
  &:hover {
    color: #aaa;
  }
}

.bio {
  display: none;
  z-index: 10;
  width: 50%;
  float: left;
  padding: 0 10px;
  text-align: left;
}

.stream-info {
  width: 240px;
  color: white;
  text-align: left;
  padding-left: 35px;
  text-shadow: 2px 2px 5px black,
               -1px -1px 3px black,
               -1px 0 black,
               0 1px black,
               1px 0 black,
               0 -1px black;
}

.tag {
  position: absolute;
  z-index: 10;
}

@media (min-width: map-get($breakpoints, "small")) {
  .user {
    width: 70%;
  }
}

@media (min-width: map-get($breakpoints, "medium-small")) {
  .user {
    display: inline-block;
    width: 45%;
    margin: 2.5%
  }
}

@media (min-width: map-get($breakpoints, "medium")) {
  .bio {
    display: block;
  }

  .user {
    width: 90%;
  }

  .logo {
    width: 50%;
  }

  .tag {
    margin: 35% 45%;
  }

  .stream-info {
      color: black;
      width: 40vw;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, .7);
  }
}

@media (min-width: map-get($breakpoints, "medium-large")) {
  .user {
    max-width: 780px;
  }

  .logo {
    width: 250px;
  }

  .bio {
    max-width: 500px;
  }

  .tag {
    position: static;
    display: block;
    margin: 0 0 10px 210px;
  }
}

@media (min-width: map-get($breakpoints, "large")) {
  .logo {
    width: 200px;
  }
}

@media (min-width: map-get($breakpoints, "extra-large")) {
  .user {
    width: 40%;
    margin: 20px;
    max-width: 600px;
  }
}
